body{
    font-family: Arial, Helvetica, sans-serif;
}
/* block element */
h1{
    background-color: rgb(241, 238, 238);
    /* text-align: center; */
    /* text-align: right; */
    text-align: left;
}

/* inline element */
/*  */
a{
    background-color: lightcoral;
    text-align: center;
}
/* inline element take only require width so no change will happen. */

/* inline-block element */
a.inline-block{
    display: inline-block;
    background-color: lightgreen;
    width: 500px;
    text-align: center;
}






