body{
    font-family: Arial, Helvetica, sans-serif;
}

/* font-size, line-height, word-spacing, line-height, letter-spacing */
p{
    font-size: 20px;
    line-height: 30px;  /* space between two lines */
    word-spacing: 8px;  /* space between two word */
    letter-spacing: 3px;  /* space between two letter */
}

/* text-decoration  */
h1{
    text-decoration: underline;  /* overline linethrough*/
    text-decoration:  underline wavy red;
}
h2{
    text-decoration:  wavy overline  green;
}