/* pseudo classes */

/* here we are using tag selector. we can use any selector like class or id anything. */
a:link{
    color: green;  /* on hover of the element color of text will become green */
}
a:visited{
    color:lightskyblue
}
a:hover{
    color:aqua
}
a:active{
    color: blueviolet;
}

/* Psudo classes can be added in any element, not only anchor tag.  */
p.p1:hover{
    color: red;
}
p.p1:active{
    background-color: aquamarine;
}














