body{
    font-family: Arial, Helvetica, sans-serif;
}

/* pseudo class first-child */
/* p:first-child{
    color: red;
} */
/* what does it mean by first-child?
mean if any p tag is the first child element of his parent, then that p tag's color will 
be red.
*/

/* first-of-type */
p:first-of-type{
    color: green;
    background-color: red;
}
/* what does it mean by first-of-type 
mean the first p tag of it's parent will be in green color.

*/




















